<p id="danger"><%= flash[:danger] %></p>

<h1>log inpath</h1>
<%= form_for(:session, url: login_path) do |f| %>
	<%=f.label :mail%>
	<%=f.email_field :mail%>

	<%=f.label :password%>
	<%=f.password_field :password%>

	<%=f.submit "Log in"%>
<%end%>
<p><%= link_to " to user", users_path %></p>

<div id="page">
    <div class="fon">
    	<%=image_tag("regfon.jpg")%>
    </div>
</div>

<div class ="blreg">
    <div class = "regreg"></div>
    </div>   
     <div class="block_photo">
            <div class="button"></div>
            <div class="button"></div>
           
    </div> 
    <div class="text1">
        <div class="a"> Sign in </div>
    </div>
    <div class="text2">
        <div class="b"> Enter </div>
    </div>
</div>
