<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      
      <% @user.errors.full_messages.each do |message| %>
        <p><b><%= message %></b></p>
      <% end %>
      
    </div>
  <% end %>
  <div class ="center_block_green">
    <div class="field">

      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.email_field :mail %>
    </div>
    <div class="field">
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
      <%= f.submit  :class => "center_button_submit_green" %>
  </div>
<% end %>