<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<table>
  <thead>
    <tr>
      <th>вопросов отвеченно</th>
      <th>игра начата</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.question_count %></td>
        <td><%= result.created_at %></td>
      </tr>
    <% end %>
 </tbody>
</table>

<li><%= link_to "Settings", edit_user_path(current_user) %></li>
<%= link_to 'Back', users_path %>
