




<%provide(:css , "profil.css")%>
<div class="block_orange_left">
<img src="<%=image_path("#{@level}.png")%>">
<%= image_tag "#{@level}.png" %>
    <%= link_to  image_tag(image_path("button.png"), :border => 0), users_path , :class => "go_back"%>
        <ul>
          <li><%= @user.name %></li>
          <li>Status: <%=@level%></li>
          <li>Games : <%=@results.count%></li>
          <li>Points( max) : <%= @max %></li>
    </ul>    
</div>
<div class="block_yellow_right">
	<div id="letsgo" type="submit">
		<p style="margin-top:20%;
            margin-bottom:20%"><%= link_to "Let's play" , game_path %>
        </p>
    </div>
</div>