<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<table>
  <thead>
    <tr>
      <th>вопросов отвеченно</th>
      <th>игра начата</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.question_count %></td>
        <td><%= result.created_at %></td>
      </tr>
    <% end %>
 </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->
<div id="page">
    <div class="fon">
	    <%=image_tag("lichny_kabinet.jpg")%>
    </div>

    <div class ="profil_block">
    	<div class = "prof"></div>
    </div>

    <div class ="black_block1">
    	<div class = "block_1"></div>
    </div>

    <div class ="black_block2">
    	<div class = "block_2"></div>
    </div>

    <div class ="block_3">
    	<div class = "pole"></div>
    	<div class = "pole"></div>
    	<div class = "pole"></div>
    </div>
    
    <div class ="block_4">
    	<div class = "button"></div>
    </div>

    <div class ="block_5">
    	<div class = "button1"></div>
    </div>

    <div class ="block_6">
    	<div class = "big_yellow"></div>
    </div>

    <div class ="profil_block2">
    	<div class = "prof2"></div>
    </div>
    
    <div class ="letsplay">
    	<div class = "play"></div>
    </div>
     
    <div class="text">
        <div class="a"> Let's play! </div>
    </div>