<% provide(:load , "yes") %>
	<div class="question_block" id="<%= @question.id %>">
		@question.text=<%=@question.text%>
	</div>
	
	<% @answers.shuffle.each_with_index do |answer,index|%>
	<br><div value="<%=answer.id%>" class= "answer" id = "button_submit_answer<%=index+1%>"><p><%= answer.content %></p></div>
	<%end%>

	<br><div class="button_50_50" type="submit"><p>50/50</p></div>



<script type="text/javascript">
    var tip_now = <%=params[:tip]%>;    
	$(".answer").click(function(){
		$.get( "questions.html", { id : <%=@result.id %> , question: <%=@question.id%> ,answer: $(this).attr('value') , tip: tip_now } )
		  .done(function( result) {
		    $("#game_board").html(result);
		  });
    })

    $(".button_50_50").click(function(){
    	if(tip_now==0) {
    		return
    	}
    	$.get( "tip_50_to_50.html", { question: <%=@question.id%> } )
		  .done(function( result) {
		  	$.each(result.split(","),function(index,value){
		    	console.log( "#input[value='"+$.trim(value)+"']" );
		    	$(".answer[value='"+$.trim(value)+"']" ).hide();
		    });
		    tip_now = 0;
		  });
    });
/*

	$("#button_tip").click(function(){
		$.get( "tip_50_to_50.html", {  question: <%=@question.id%>  )
		  .done(function( result) {
		  	$("#button_tip").html(result);
		    $.each(data.split(","),function(index,value){
		    	$("#"+value).hide();
		    });
		  });
	});
*/

</script>