<% provide(:load , "yes") %>
<div id="button_start_game" style="background-color:red">
	<div class="question" id="<%= @question.id %>">
		@result.question_count=<%=@result.question_count%>
		@question.text=<%=@question.text%>
	</div>
	<ul>
		<% @answers.each do |answer|%>
		<li class= "answer" id = "<%= answer.id %>">
			<%= answer.content %>
		</li>
		<%end%>
	</ul>
</div>
<script type="text/javascript">
	$(".answer").click(function(){
		$.get( "questions.html", { id : <%=@result.id %> , question: <%=@question.id%> ,answer: this.id } )
		  .done(function( result) {
		    $("#game_board").html(result);
		  });
    });
</script>